#bestScore {
	font-size: 22;
	color: green;
	text-align: center;
	border: solid 0px;
	margin-right: 60px;
	margin-left: 50px;
}
#startReset {
	font-size: 18px;
	width: 100px;
}
#currentScore {
	font-size: 22;
	text-align: center;
	border: solid 0px;
	margin-left: 60px;
}
#info {
	font-size: 20;
	text-align: center;
	border: solid 0px;
	width: 480px;
}
#link {
	font-size: 20;
}